:root {
    --primary-color: #FFFFFF;
    --accent-color: #1E90FF;
    --bg-color: #F8FAFC;
    --border-color: #E5E7EB;
    --text-color: #1F2937;
    --card-color: #252424;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

hr {
    color: var(--border-color);
    margin: 0 2rem;
}

h2 {
    font-size: x-large;
    font-weight: bold;
    color: var(--accent-color);
    margin: 2rem 0;
    text-align: center;
}

a {
    text-decoration: none;
    color: var(--text-color);
}
a:hover {
    color: var(--accent-color);
}

.header {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
    font-weight: bold;
}
.header ul {
    list-style: none;
    display: none;
}
.header ul li{
    display: inline-block;
    padding: 0.5rem;
}
.header ul li a span {
    padding: 0 0.2rem;
}

.content {
    font-size: large;
    line-height: 1.5;
}

.hero {
    background-image: url('../assets/images/hero.png');
    height: 50vh;
    color: var(--primary-color);
    font-weight: bolder;
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero p {
    margin: 2rem auto;
    text-align: center;
}

.section-con {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile {
    margin: 2rem auto;
    font-weight: bolder;
}
.profile span {
    display: block;
    padding: 0 2rem;
}

.experiences .job {
    background-color: var(--card-color);
    color: var(--primary-color);
    padding: 2rem;
    margin: 0.5rem auto;
    border-radius: 1rem;
    transition-duration: 1s;
}
.experiences .job:hover{
    transform: translate(1%, 1%);
}
.experiences .job a {
    color: #DAA520;
}
.experiences .job ul {
    margin: 0 0 1rem 1rem;
}
.experiences .job div {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.experiences .job div span {
    background-color: var(--border-color);
    color: var(--text-color);
    padding: 0.5rem;
}

.education {
    padding: 0 2rem 4rem 2rem;
    max-width: 900px;
    margin: auto;
}
.education .edu-item {
  background: var(--primary-color);
  border-left: 4px solid var(--accent-color);
  padding: 1.5rem 2rem;
  box-shadow: 0 2px 10px var(--border-color);
  border-radius: 8px;
}

.skills {
    padding: 0 2rem 2rem 2rem;
}
.skills .skill-group h3 {
    font-size: larger;
    margin: 1rem 0;
}
.skills .skill-group ul{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    align-content: center;
    gap: 1rem 2rem;
}
.skills .skill-group ul li {
    background-color: var(--primary-color);
    padding: 0.5rem 1rem;
    border-radius: 6px;
    font-size: large;
    box-shadow: 0 1px 3px var(--border-color);
    text-align: center;
}
.skills .skill-group ul li:hover {
    background-color: var(--border-color);
}

.contact {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2rem;
    padding: 5rem 0;
}
.contact .contact-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content .social {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.contact a {
    font-size: x-large;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .hero p,
    .profile,
    .experiences .job,
    .education .edu-item {
        margin: 0.5rem 2%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .hero p,
    .profile,
    .experiences .job{
        max-width: 96%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .hero p,
    .profile,
    .experiences .job {
        width: 90%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .hero p,
    .profile,
    .experiences .job {
        width: 80%;
    }

    .contact {
        flex-direction: row;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1100px) {
    .header ul {
        display: inline-block;
    }
    .hero p,
    .profile,
    .experiences .job{
        width: 70%;
    }
}